/* ------------------------- Global----------------------------- */
:root {
  --color-primary: #d35266;
  --color-secondary: #888;
  --color-dark: #383838;
  --color-light: #eee;
  --gotham-light: Gotham-Rounded-Light, cursive;
  --gotham-bold: Gotham-Bold, cursive;
  --helvetica-light: Helvetica-Neue-Light, cursive;
  --helvetica-medium: Helvetica-Neue-Medium, cursive;
  --helvetica-bold: Helvetica-Neue-Bold, cursive;
}

/* ==========Typography========================= */

@font-face {
  font-family: Helvetica-Neue-Light;
  src: url(../Assets/fonts/Helvetica\ Neue\ Light.ttf);
}

@font-face {
  font-family: Helvetica-Neue-Medium, cursive;
  src: url(../Assets/fonts/HelveticaNeue\ Medium.ttf);
}

@font-face {
  font-family: Helvetica-Neue-Bold;
  src: url(../Assets/fonts/HelveticaNeue-Bold.ttf);
}

@font-face {
  font-family: Gotham-Rounded-Light;
  src: url(../Assets/fonts/Gotham\ Rounded\ Light.otf);
}

@font-face {
  font-family: Gotham-Bold;
  src: url(../Assets/fonts/Gotham\ Rounded\ Bold.otf);
}

/* -------------X------------ Global---------------X-------------- */

.text-uppercase {
  text-transform: uppercase;
}

.text-light {
  color: var(--color-light);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-dark {
  color: var(--color-dark);
}

.text-bold {
  font-weight: bold;
}

.font-sm {
  font-size: 0.75rem;
}

.font-n {
  font-size: 1rem;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.flex-start {
  align-items: flex-start;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

body {
  font-family: var(--helvetica-light);
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  justify-content: center;
  position: relative;
}

.content {
  width: 100%;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 3rem;
  z-index: 9999;
}

nav,
nav a {
  background-color: var(--color-dark);
  width: 100%;
}

.nav-container {
  width: 88%;
  margin: 0 auto;
  white-space: nowrap;
  height: 100%;
}

.align-center {
  align-items: center;
}

.nav-items li {
  padding-right: 2.5vw;
}

.logo span {
  font-family: var(--helvetica-bold);
}

.p-1 {
  padding: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-0 {
  padding-left: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.pl-1 {
  padding-left: 1rem;
}

.p-y {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bg-light {
  background-color: #fff;
}

.active {
  color: var(--color-primary);
}

.current-user {
  min-width: 8rem;
  height: 100%;
  align-self: end;
}

.btn {
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
  white-space: nowrap;
}

.btn-primary {
  background-color: var(--color-primary);
  border: var(--color-primary);
  color: var(--color-light);
}

.btn-outline {
  background-color: #fff;
  border: #e3e3e3 1px solid;
  color: var(--color-secondary);
}

.user__picture {
  width: 1.7rem;
  height: 1.7rem;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.user__picture img {
  border-radius: 50%;
  margin-top: -0.008rem;
  align-self: center;
  border: none;
}

header {
  position: relative;
  min-height: 10em;
  background-color: var(--color-primary);
  margin-top: 3rem;
  white-space: nowrap;
}

.header__title {
  font-weight: bold;
  letter-spacing: 0;
}

.font-xl {
  font-size: 2.5rem;
}

.header__brand {
  justify-content: center;
  z-index: 999;
}

/* ======search form========= */

.input {
  position: relative;
  z-index: 999;
}

.input-area {
  min-height: 1.8rem;
  border: 1px solid var(--color-primary);
  border-right: none;
  padding-left: 1.5em;
  outline: none;
  width: 100%;
  min-width: 10px;
}

.fa-caret-down {
  position: absolute;
  left: 5%;
  top: 30%;
}

.btn-search {
  margin-left: 0.5em;
  padding: 0 3em;
}

.btn-dark {
  color: var(--color-light);
  background-color: var(--color-dark);
  border: 1px solid var(--color-dark);
}

.hot-ads {
  width: 72%;
  align-self: center;
  margin: 0 auto;
}

.hot-ads__content {
  width: 90%;
}

.hot-ads__img {
  position: relative;
  max-height: 10em;
  flex: 1;
}

.hot-ads__body {
  margin: 1em;
  min-width: 0;
  margin-top: 0.5rem;
}

.ad {
  height: 100%;
}

.hot-ads__details {
  word-wrap: break-word;
}

.slide {
  color: var(--color-primary);
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border: 1px var(--color-light) solid;
  border-radius: 50%;
  align-self: center;
  margin: 0 1em;
}

.slider-carets {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-dark);
  flex-wrap: nowrap;
}

.slider-carets * {
  padding: 0.3em  0.3em;
}

.btn-group .btn {
  border: var(--color-primary) 1px solid;
}

.btn-group .btn:first-child {
  border-right: var(--color-dark) 1px solid;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hot-ads__header {
  font-family: var(--helvetica-bold);
}

/* -------Main---------- */

main {
  background-color: #f6f6f6;
  flex: 4;
  margin-top: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px #e3e3e3 solid;
  min-width: 0;
  margin: 1%;
}

.card__info {
  flex: 1;
  display: flex;
  padding: 3%;
  background-color: #f8f9fd;
  flex-direction: column;
  justify-content: space-evenly;
}

.card__img {
  flex: 1;
  min-height: 50%;
  min-width: 3em;
}

.card__detail {
  display: flex;
  justify-content: space-between;
}

.card__cta {
  border: 1px #e3e3e3 solid;
  padding: 0.4em;
  color: #c0c0c0;
}

.card__price {
  display: flex;
  align-items: center;
}

.card__title {
  color: var(--color-secondary);
}

.underlined::after {
  content: " ";
  height: 1.5px;
  width: 100%;
  margin: 0.5rem auto;
  background-color: #ececec;
}

.superlined::before {
  content: " ";
  height: 1.5px;
  width: 100%;
  margin: 0.5rem auto;
  background-color: #ececec;
}

.row__category div {
  width: 90%;
  margin: 0.5rem auto;
}

/* -------Footer----------------- */

.col-1 {
  flex: 1;
}

.footer-col-3 {
  flex: 3;
}

.about-company .logo {
  align-self: center;
}

.col-2 {
  flex: 2;
}

.copy-right {
  height: 1rem;
  white-space: nowrap;
  align-items: flex-start;
}

.list-items {
  padding-bottom: 0.2rem;
}

.border-bottom {
  border-bottom: var(--color-secondary) 1px solid;
  padding-bottom: 0.5rem;
}

.border-primary {
  border-bottom: var(--color-primary) 1px solid;
}

.footer-top {
  flex-direction: column;
}

.copy-right__paragraph {
  width: 80%;
  flex-wrap: wrap;
}

/* ---------Search Page--------- */

.checkbox {
  cursor: pointer;
  transition-duration: 0.3s;
  position: relative;
  outline: none;
  width: 1rem;
  height: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border: 1px #cecece solid;
  margin-right: 0.75rem;
  background-color: #fff;
}

.checkbox:checked::before {
  font-size: 1.1rem;
  content: '\2713';
  text-align: center;
  color: var(--color-primary);
  position: absolute;
  left: 5%;
  top: -30%;
}

.search-result {
  background-color: #f6f6f6;
  margin: auto auto;
}

aside {
  padding: 1em 1em 1em 2em;
  flex: 1;
}

.border {
  border: 0.75px #e3e3e3 solid;
}

.search-result .hot-ads__content {
  width: 100%;
}

.background {
  position: absolute;
  color: #bc5262;
  font-size: 10rem;
  left: 15%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-auto-rows: 20rem;
}

.visible {
  display: none;
}

.mobile-hide {
  display: none;
}

.hidden {
  display: block;
}

.ellepsis {
  text-overflow: ellipsis;
}

@media (min-width: 769px) {
  .visible {
    display: flex;
  }

  .footer-top {
    flex-direction: row;
  }
}

@media (min-width: 567px) {
  .mobile-hide {
    display: flex;
  }

  nav {
    height: 2rem;
  }

  main {
    margin-top: 2rem;
  }

  header {
    margin-top: 2rem;
  }

  .copy-right {
    flex-direction: row;
  }

  .hot-ads {
    display: flex;
  }

  .hidden {
    display: none;
  }
}
