html {
  background-color: var(--color-primary);
}

/* ------------------------- Global----------------------------- */
:root {
  --color-primary: #d35266;
  --secondary-color: #888;
  --color-dark: #383838;
}

/* -------------X------------ Global---------------X-------------- */
