
/* ------------------------- Global----------------------------- */
:root {
  --color-primary: #d35266;
  --secondary-color: #888;
  --color-dark: #383838;
  --color-light: #eee;
  --gotham-light: Gotham-Rounded-Light, cursive;
  --gotham-bold: Gotham-Bold, cursive;
  --helvetica-light: Helvetica-Neue-Light, cursive;
  --helvetica-medium: Helvetica-Neue-Medium, cursive;
  --helvetica-bold: Helvetica-Neue-Bold, cursive;
}

/* ==========Typography========================= */

@font-face {
  font-family: Helvetica-Neue-Light;
  src: url(../Assets/fonts/Helvetica\ Neue\ Light.ttf);
}

@font-face {
  font-family: Helvetica-Neue-Medium, cursive;
  src: url(../Assets/fonts/HelveticaNeue\ Medium.ttf);
}

@font-face {
  font-family: Helvetica-Neue-Bold;
  src: url(../Assets/fonts/HelveticaNeue-Bold.ttf);
}

@font-face {
  font-family: Gotham-Rounded-Light;
  src: url(../Assets/fonts/Gotham\ Rounded\ Light.otf);
}

@font-face {
  font-family: Gotham-Bold;
  src: url(../Assets/fonts/Gotham\ Rounded\ Bold.otf);
}

/* -------------X------------ Global---------------X-------------- */

.text-uppercase {
  text-transform: uppercase;
}

.text-light {
  color: var(--color-light);
}

.text-primary {
  color: var(--color-primary);
}

.font-sm {
  font-size: 0.75rem;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

body {
  font-family: var(--helvetica-light);
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: inherit;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

nav,
nav a {
  background-color: var(--color-dark);
  color: var(--secondary-color);
  width: 100%;
  text-decoration: none;
  font-size: 0.75rem;
  box-sizing: inherit;
}

.nav-container {
  width: 88%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-items li {
  padding-right: 2.5vw;
  white-space: nowrap;
}

.logo span {
  font-family: var(--helvetica-bold);
  display: flex;
  align-items: center;
}

.fa-phoenix-squadron {
  color: var(--color-primary);
  font-size: 1.1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.p-y {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.active {
  color: var(--color-primary);
}

.current-user {
  padding-right: 1em;
  display: flex;
  align-items: center;
}

.post {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 0.3em 0.5em;
  border-radius: 0.1em;
}

.user__picture {
  width: 2em;
  height: 2em;
  margin-bottom: -1em;
  margin-top: -1em;
  padding: 0 0.5em;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.user__picture img {
  border-radius: 50%;
}

header {
  min-height: 10em;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: inherit;
  margin-top: 2.2em;
}

.header__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ======search form========= */

.search-block {
  display: flex;
}

.input-group {
  display: flex;
  min-height: 1.8em;
  padding: 0;
}

.input {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  box-sizing: inherit;
}

.input-area {
  margin: 0;
  padding: 0;
  height: 100%;
  border: 1px solid var(--color-primary);
  border-right: none;
  flex: 2;
}

.fa-caret-down {
  position: absolute;
  left: 5%;
  top: 20%;
}

.btn-search {
  margin: 0;
  margin-left: 0.5em;
  border: 1px solid var(--color-dark);
  padding: 0.25em 3em;
}

.btn-dark {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.hot-ads {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;

  /* background-color: coral; */
}

.hot-ads__content {
  display: flex;
}

.hot-ads__img {
  flex: 1 1 33.33%;
  max-height: 10em;
}

.hot-ads__body {
  flex: 1 2 69.67%;
  margin: 1em;
}

.ad {
  display: flex;
  height: 100%;

  /* background-color:yellow; */
  width: 80%;
}

.hot-ads__details {
  word-wrap: break-word;
}

.slide {
  display: flex;
  color: var(--color-primary);
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: 1px var(--color-light) solid;
  border-radius: 50%;
  align-self: center;
  margin: 0 0.5em;
}

.btn-group {
  display: flex;
  margin: 0;
}

.hot-ads__header {
  font-family: var(--helvetica-bold);
}
